<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19611732310-msb7kq48a387fbfkvrfi6aa368on0ups.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19611732310-msb7kq48a387fbfkvrfi6aa368on0ups</string>
	<key>API_KEY</key>
	<string>AIzaSyDNI7zfZYVDbL8uDvI76a2NmEBdDMrkZL4</string>
	<key>GCM_SENDER_ID</key>
	<string>19611732310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boggleboogle</string>
	<key>PROJECT_ID</key>
	<string>bogleboogle</string>
	<key>STORAGE_BUCKET</key>
	<string>bogleboogle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19611732310:ios:bd3306b1883cc4a98b2ef7</string>
</dict>
</plist>